.book-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  cursor: default;
  width: 100vw;
  height: 100vh;
}

.full-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.lines-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
