@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200&display=swap');

.card-container {
  width: 100%;
}

.card-editor {
  width: 100%;
}

.card-title {
  /* font-family: sans-serif; */
  font-size: 30px;
  resize: none;
  text-align: center;
  width: 100%;
}

.card-full-container {
  display: flex;
  width: 100%;
}

.card-term-list {
  /* font-family: sans-serif; */
  font-size: 20px;
  resize: none;
  width: 15%;
  min-height: 830px;
  background: inherit;
  margin-left: 5px;
}

.cardview-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #6c757d;
  border-radius: 0.5rem;
  /* position: absolute; */
  width: 333px;
  height: 200px;
  z-index: 1;
  cursor: pointer;
}

.cardview-text {
  font-weight: bold;
  /* font-family: Geneva; */
  font-size: 50px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: fit-content;
  color: rgb(255, 255, 255);
}

.cardview-text:focus-within {
  color: black;
}

.cardview-full-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 237px;
}

.triangle {
  width: 0;
  height: 0;
  border: solid 30px;
  border-color: transparent black black transparent;
  border-radius: 0 0 0.5rem 0;
  position: absolute;
  right: 0;
  top: 140px;
  cursor: grab;
}

.ql-editor {
  min-height: 720px;
  font-family: "IBM Plex Sans";
}

/*

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=""]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=""]::before {
  content: "Default";
}

.ql-snow
  .ql-picker.ql-font
  .ql-picker-label[data-value="times-new-roman"]::before,
.ql-snow
  .ql-picker.ql-font
  .ql-picker-item[data-value="times-new-roman"]::before {
  content: "Times New Roman";
  font-family: "Times New Roman";
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value="arial"]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value="arial"]::before {
  content: "Arial";
  font-family: "Arial";
}

//////////////////////////////////////////////////////////////////////////////////

.ql-font-arial {
  font-family: "Arial";
}

.ql-font-times-new-roman {
  font-family: "Times New Roman";
}

*/
