.page-container {
  text-align: center;
  width: 100%;
}

.page-title {
  font-size: 30px;
  font-family: sans-serif;
  position: relative;
  z-index: 1;
}

.cardview-container {
  display: flex;
  width: 100%;
  height: 0;
}

.pageview-text {
  display: flex;
  font-size: 30px;
  font-family: sans-serif;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

.pageview-container {
  text-align: center;
  border: 1px solid #6c757d;
  border-radius: 0.5rem;
  margin: 5px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.pageview-close {
  top: 0;
  right: 0;
}

.pageview-body {
  width: 100%;
  height: 100%;
}

.pageview-full-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus {
  border: none;
  outline: none;
}
